.flash-box
  .wrapper
    .notice

    .chat-side
      = render 'devise/shared/chat-side'

    .chat-main
      .main-header
        .main-header__left-box
          .main-header__left-box__current-group
            test-groups
          .main-header__left-box__member-list
            Member : 
        .main-header__edit-btn
          Edit
      .messages
        .message
          .message__upper-info
            .message__upper-info__talker
              test-user
            .message__upper-info__date
              2019/10/29(Tue) 16:00:00
          .message__text
            こんにちは！
      .form
        .new_message
          .input-box
            .input-box__text
              type a message
            %label.input-box__image
              = fa_icon 'picture-o', class: 'icon'
              %input.message_image.input-box__image__file{type: 'file'}
          .submit-btn
            Send

